<section class="galeria-articulos">
    {{> articulo
    imagen="/img/estampado.jpg"
    alt="Estampados"
    titulo="Estampados en prendas de vestir"
    descripcion="Personalizamos camisetas, sudaderas y más con diseños únicos mediante técnicas de estampado
    profesional."
    }}

    {{> articulo
    imagen="/img/sublimacion.jpg"
    alt="Sublimación"
    titulo="Sublimación en artículos varios"
    descripcion="Tazas, cojines, llaveros y más. Coloca tus ideas en objetos cotidianos con colores duraderos y
    brillantes."
    }}

    {{> articulo
    imagen="/img/bordado.jpg"
    alt="Bordados"
    titulo="Bordados"
    descripcion="Bordamos con calidad y precisión en todo tipo de prendas, ideal para logos y diseños con textura."
    }}

    {{> articulo
    imagen="/img/resina.jpg"
    alt="Personalizados en resina"
    titulo="Personalizados en resina"
    descripcion="Llaveros, nombres, iniciales y recuerdos creados con resina, color y creatividad artesanal."
    }}

    {{> articulo
    imagen="/img/bisuteria.jpg"
    alt="Bisutería"
    titulo="Bisutería"
    descripcion="Accesorios hechos a mano como collares, pulseras y aretes con materiales únicos y personalizados."
    }}

    {{> articulo
    imagen="/img/bolsas.jpg"
    alt="Bolsas de regalo"
    titulo="Bolsas o cajas de regalo"
    descripcion="Bolsitas o cajitas decoradas a tu gusto para entregar regalos de forma especial y creativa."
    }}

    {{> articulo
    imagen="/img/recuerdos.jpg"
    alt="Recuerdos"
    titulo="Recuerdos"
    descripcion="Detalles para eventos como bautizos, bodas o cumpleaños. Personalizados con amor."
    }}

     {{> articulo
    imagen="/img/stickers.jpg"
    alt="stickers"
    titulo="Stickers"
    descripcion="Stickers en vinil, el diseño que desees, en el color que desees."
    }}

    {{> articulo
    imagen="/img/arreglo.jpg"
    alt="arreglos"
    titulo="Arreglos"
    descripcion="Cajas de madera decoradas a tu gusto para entregar regalos de forma especial y creativa."
    }}
</section>