<section class="catalogo-galeria">
    <h2 class="titulo">Catalogo</h2>
    <p class="intro">Aquí verás un poco de nuestro trabajo, hecho con amor y dedicación, para ofrecer a nuestros
        clientes la mejor calidad al mejor precio.</p>

    <div class="contenedor-galeria">
        {{> catalogo-item imagen="/img/catalogo/imagen1.jpg" alt="Imagen 1" descripcion="Imagen 1" }}
        {{> catalogo-item imagen="/img/catalogo/imagen2.jpg" alt="Imagen 2" descripcion="Imagen 2" }}
        {{> catalogo-item imagen="/img/catalogo/imagen3.jpg" alt="Imagen 3" descripcion="Imagen 3" }}
        {{> catalogo-item imagen="/img/catalogo/imagen4.jpg" alt="Imagen 4" descripcion="Imagen 4" }}
        {{> catalogo-item imagen="/img/catalogo/imagen5.jpg" alt="Imagen 5" descripcion="Imagen 5" }}
        {{> catalogo-item imagen="/img/catalogo/imagen6.jpg" alt="Imagen 6" descripcion="Imagen 6" }}
        {{> catalogo-item imagen="/img/catalogo/imagen7.jpg" alt="Imagen 7" descripcion="Imagen 7" }}
        {{> catalogo-item imagen="/img/catalogo/imagen8.jpg" alt="Imagen 8" descripcion="Imagen 8" }}
        {{> catalogo-item imagen="/img/catalogo/imagen9.jpg" alt="Imagen 9" descripcion="Imagen 9" }}
        {{> catalogo-item imagen="/img/catalogo/imagen10.jpg" alt="Imagen 10" descripcion="Imagen 10" }}
        {{> catalogo-item imagen="/img/catalogo/imagen11.jpg" alt="Imagen 11" descripcion="Imagen 11" }}
        {{> catalogo-item imagen="/img/catalogo/imagen12.jpg" alt="Imagen 12" descripcion="Imagen 12" }}
        {{> catalogo-item imagen="/img/catalogo/imagen13.jpg" alt="Imagen 13" descripcion="Imagen 13" }}
        {{> catalogo-item imagen="/img/catalogo/imagen14.jpg" alt="Imagen 14" descripcion="Imagen 14" }}
        {{> catalogo-item imagen="/img/catalogo/imagen15.jpg" alt="Imagen 15" descripcion="Imagen 15" }}
        {{> catalogo-item imagen="/img/catalogo/imagen16.jpg" alt="Imagen 16" descripcion="Imagen 16" }}
        {{> catalogo-item imagen="/img/catalogo/imagen17.jpg" alt="Imagen 17" descripcion="Imagen 17" }}
        {{> catalogo-item imagen="/img/catalogo/imagen18.jpg" alt="Imagen 18" descripcion="Imagen 18" }}
        {{> catalogo-item imagen="/img/catalogo/imagen19.jpg" alt="Imagen 19" descripcion="Imagen 19" }}
        {{> catalogo-item imagen="/img/catalogo/imagen20.jpg" alt="Imagen 20" descripcion="Imagen 20" }}
        {{> catalogo-item imagen="/img/catalogo/imagen21.jpg" alt="Imagen 21" descripcion="Imagen 21" }}
        {{> catalogo-item imagen="/img/catalogo/imagen22.jpg" alt="Imagen 22" descripcion="Imagen 22" }}
        {{> catalogo-item imagen="/img/catalogo/imagen23.jpg" alt="Imagen 23" descripcion="Imagen 23" }}
        {{> catalogo-item imagen="/img/catalogo/imagen24.jpg" alt="Imagen 24" descripcion="Imagen 24" }}
        {{> catalogo-item imagen="/img/catalogo/imagen25.jpg" alt="Imagen 25" descripcion="Imagen 25" }}
        {{> catalogo-item imagen="/img/catalogo/imagen26.jpg" alt="Imagen 26" descripcion="Imagen 26" }}
        {{> catalogo-item imagen="/img/catalogo/imagen27.jpg" alt="Imagen 27" descripcion="Imagen 27" }}
        {{> catalogo-item imagen="/img/catalogo/imagen28.jpg" alt="Imagen 28" descripcion="Imagen 28" }}
        {{> catalogo-item imagen="/img/catalogo/imagen29.jpg" alt="Imagen 29" descripcion="Imagen 29" }}
        {{> catalogo-item imagen="/img/catalogo/imagen30.jpg" alt="Imagen 30" descripcion="Imagen 30" }}
        {{> catalogo-item imagen="/img/catalogo/imagen31.jpg" alt="Imagen 31" descripcion="Imagen 31" }}
    </div>
</section>