<section class="contacto">
    <div class="contenedor-contacto">
        <h2 class="titulo-seccion">Contáctanos</h2>

        <div class="info-contacto">
            <p><i class="fa-brands fa-whatsapp"></i> <a href="https://wa.me/50433353793" target="_blank">WhatsApp</a>
            </p>
            <p><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/bluck.hn/"
                    target="_blank">Facebook</a>
            </p>
            <p><i class="fa-brands fa-instagram"></i> <a href="https://instagram.com/bluck_hn"
                    target="_blank">Instagram</a></p>
            <p><i class="fa-brands fa-tiktok"></i> <a href="https://www.tiktok.com/@bluck_hn" target="_blank">TikTok</a>
            </p>
            <p><i class="fa-solid fa-phone"></i> <a href="tel:+50433353793">+504 3335-3793</a></p>
            <p><i class="fa-solid fa-envelope"></i> <a
                    href="https://mail.google.com/mail/?view=cm&to=bluck1219@gmail.com">bluck1219@gmail.com</a></p>
            <p><i class="fa-solid fa-location-dot"></i> Ocotepeque, Ocotepeque, frente a Hotel Internacional, contiguo a
                comedor Shalom.</p>
        </div>
    </div>
</section>