{{!-- faqs.hbs --}}
<div class="faq-item">
    <h3 class="faq-pregunta">{{pregunta}}</h3> {{!-- <--- Clase correcta --}} <div class="faq-respuesta"> {{!-- <---
            Clase correcta --}} <p>{{respuesta}}</p>
</div>
</div>