<div class="paso {{#if reverse}}reverse{{/if}}">
  <div class="texto">
    <h3>{{titulo}}</h3>
    <p>{{descripcion}}</p>
  </div>
  <div class="imagen">
    <img src="{{imagen}}" alt="{{alt}}">
  </div>
</div>
