<section class="seccion-mapa">
    <h2 class="titulo-mapa">Ubicación</h2>
    <div class="contenedor-mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.77786252982793!2d-89.1828155112167!3d14.435255145905334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63a500654bc1d5%3A0xb4e0cd9c5f7fc55f!2sBluck_HN!5e0!3m2!1ses!2shn!4v1753482540454!5m2!1ses!2shn"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>